body {
    font-family: Helvetica;
}

div{
	border: 1px solid black;
}

.container{
	margin: 10px;
}

.hidden{
	display: none;
}

.link{
	text-decoration: underline;
	color: blue;
}

button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  color: white;
  background-color: #1A9BFC;
  font-family: Helvetica;
}