body {
    font-family: Helvetica;
}

div{
}

.container{
	margin: 10px;
}

.hidden{
	display: none;
}

.link{
	text-decoration: underline;
	color: blue;
}

button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0px;
  border-radius:2px;
  height: 36px;
  white-space: nowrap;
  color: white;
  background-color: #1A9BFC;
  font-family: Helvetica;
  padding: 0px 24px;
}

button:focus {
	outline:0;
}

.button-increment {
	background-color: #5bb75b;
	font-size: 20pt;
	width: 30%;
	margin-left: 15px;
	margin-right: 15px;
}
.button-decrement {
	background-color: #D23A2C;
	font-size: 20pt;
	width: 30%;
	margin-left: 15px;
	margin-right: 15px;
}
.score-container {
	text-align: center;
	display:table-cell;
	vertical-align:middle;
}
.score-cell {
    width: 300px;
    vertical-align: middle;
}
.aligned-cells {
	display: inline-block;
}

.score {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 50pt;
}

.phone-div {
	height:100vh;
}
.phone-button-increment {
	border: 0px;
  	border-radius:0px;
	background-color: #5bb75b;
	background-image: url("/images/paddle_white.png");
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
	width: 100%;
	height: 85%;
}
.button-reset {
	color: black;
	background-color: #fafafa;
	border: 1px black solid;
}

.button-undo {
	color: black;
	background-color: #fafafa;
	border: 1px black solid;
}

.phone-button-decrement {
	font-size: 150pt;
	border: 0px;
  	border-radius:2px;
	background-color: #D23A2C;
	height: 100%;
	padding: 0;
	width: 49.5%;
}

.phone-button-reset {
	font-size: 100pt;
	border: 0px;
  	border-radius:2px;
  	color: #fafafa;
	background-color: #9AA7B3;
	height: 100%;
	padding: 0;
	width: 50%;
}
.two-buttons {
	height: 15%;
	background-color: #D23A2C;
}
table, th, td {
    border-collapse: collapse;
}
th,td {
	padding:5px 15px 5px 15px;
}

.no-link {
    color:inherit;
    text-decoration:none;
}